


<body>
<script src="/node_modules/skinny-widgets/dist/sk-compat-bundle.js"></script>
<script src="/node_modules/navigo/lib/navigo.min.js"></script>
<a href="page-a" data-navigo>Page A</a>
<a href="page-b" data-navigo>Page B</a>

<sk-app></sk-app>

<script type="module">
    class PageA extends HTMLElement {
        connectedCallback() {
            this.insertAdjacentHTML('beforeend', '<div>This is a page A</div>');
        }
    }
    class PageB extends HTMLElement {
        connectedCallback() {
            this.insertAdjacentHTML('beforeend', '<div>This is a page B</div>');
        }
    }

    class SkApp extends HTMLElement {

        connectedCallback() {
            var root = null;
            var useHash = true; // Defaults to: false
            var hash = '#!'; // Defaults to: '#'
            var router = new Navigo(root, useHash, hash);
            router
                .on('page-a', () => {
                    this.innerHTML = '';
                    this.insertAdjacentHTML('beforeend', '<page-a></page-a>');
                })
                .on('page-b', () => {
                    this.innerHTML = '';
                    this.insertAdjacentHTML('beforeend', '<page-b></page-b>');
                })
                .on('*', () => {
                    this.innerHTML = '';
                    this.insertAdjacentHTML('beforeend', '<div>Please click links above</div>');
                })
                .resolve();
        }
     }
    customElements.define('page-a', PageA);
    customElements.define('page-b', PageB);
    customElements.define('sk-app', SkApp);
</script>
</body>